@import url("../node_modules/bulma/css/bulma.css");

.navbar-item img {
    max-height: 3rem;
}

body {
  padding-top: 35px;
}


.card-footer {
  margin-bottom: 20px;
  background: #242933;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #242933;
}

#myNav {
  background: #242933;
}

a {
  color:white;
}

a:hover {
  color: #b3e5fc;
}