@import url("../node_modules/bulma/css/bulma.css");

.navbar-item img {
    max-height: 3rem;
}

.navbar-burger.burger {
  color:white;
}

.navbar-end {
  margin-right: 2em;
}

.subtitle.nav {
  color:white;
}

#myNav {
  background: #242933;
  width: 100vw;
}

.hero {
  /* background: linear-gradient(#6190E8, #9198e5);    */
  background: #43C6AC;  
  background: -webkit-linear-gradient(to right, #191654, #43C6AC);  
  background: linear-gradient(to right, #191654, #43C6AC); 
  
  width: 100%;
  height: 100vh;
}

.container.is-fluid {
  margin-top: 7em;
}

/* .colums.is-mobile {
  margin-top: 7em;
} */

.card-footer {
  margin-bottom: 20px;
  background: #242933;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: #242933;
}


a {
  color:white;
}

a:hover {
  color: #b3e5fc;
}

.container.hero-body {
  padding-top: 10em;
}

#root {
  width: 100vw;
}
